p, h1, h2, h3, h4, h5, h6, span, a, li {
  font-family: 'Arial';
}

p {
  font-family: 'Arial';
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold
}

.app-container {
  margin-top: 90px;
}